<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

   <p>
    This version of Splurty was built by Mark. He is often at a loss for words. When this happens, he usually fires up a <a target="_blank" href="http://www.loremipsum.de/">lorem ipsum generator</a> and lets it do the talking for him. 
  </p>

  <br />
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
  </p>

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'mark.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Mark</h2>
    <br />
    <p>
      Mark stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
    </p>
  </div>

</div>


<br class="clear" />
<br />
<br />
<br />
<br />